<div class="alert-container">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4 pt-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center mb-3">Создать аккаунт</h3>
      </div>
      <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text"%>

          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-text" %>

          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-text" %>

          <%= f.submit "Sign up", class: 'btn btn-outline-info mt-2' %>

      <% end %>
      </div><!--panel-body-->
    </div><!--panel-->
  </div><!--col-->
</div><!--row-->