<div class="row justify-content-center">
  <div class="col-lg-5 pt-2">
    <div class="panel">
      <div class="panel-title">
        <h3 class="panel-title text-center mb-3">Создать аккаунт</h3>
      </div>
      <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%= f.label :email, class: "text-muted  mb-0 mt-2" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>

          <%= f.label :password, class: "text-muted mb-0 mt-2" %>
          <% if @minimum_password_length %>
          <em class="text-muted">(<%= @minimum_password_length %> символов минимум)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

          <%= f.label :password_confirmation, class: "text-muted mb-0 mt-2" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>

          <%= f.submit "Присоединиться", class: 'btn btn-outline-info mt-3' %>

      <% end %>
      </div><!--panel-body-->
    </div><!--panel-->
  </div><!--col-->
</div><!--row-->