<div class="col-sm-6 col-md-4 mb-4">
  <div class="thumbnail">

    <%= content_tag 'div', '', class: 'event-background',
                    style: "background-image: url(#{asset_path('event_thumb.jpg')})" %>

    <div class="thumbnail-inner event-info-inner">
      <div class="caption">
        <div class="event-description">
          <h3><%= link_to event.title, event_path(event) %></h3>
          <h4><small><%= event.datetime %></small></h4>
          <div class="pt-2 pb-2"><%= event.address %>
            <span class="float-right pr-2"> <%= link_to event.user.name, user_path(event.user), class: "text-light" %> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>