<%= form_for(@event) do |f| %>
  <div class="form-group">
    <%= f.label :Название, class: "text-muted " %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Адрес, class: 'text-muted ' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Время_и_дата, class: 'text-muted ' %>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div class="form-group">
    <%= f.label :Описание, class: 'text-muted ' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Pincode, class: 'text-muted ' %> <em class="text-muted"> (можете оставить это поле пустым)</em>
    <%= f.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-outline-info' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>