<div class="event">
  <div class="event-info row">
    <div class="col-lg-8">
      <div class="row">
        <%= content_tag 'div', '', class: 'event-background',
                        style: "background-image: url(#{path_to_asset('event.jpg')})" %>
        <div class="p-4 w-100">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= @event.datetime %></h3>
            <h3><small><%= link_to @event.address,
                                   "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <div class="row">
            <div class="col-lg-6">
            <% if current_user_can_edit?(@event) %>
              <div class="actions">
                <%= link_to 'Изменить', edit_event_path(@event), class: 'btn btn-outline-warning' %>
                <%= link_to 'Удалить', event_path(@event),method: :delete, class: 'ml-2 btn btn-outline-danger', data: { confirm: "Удалить событие?" } %>
              </div>
            <% end %>
            </div>
            <div class="col-lg-6">
              <div class="float-right pt-2 pr-3"> <%= link_to @event.user.name, user_path(@event.user), class: "text-light" %> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>