<div class="event">
  <div class="event-info row">
    <div class="col-lg-8">
      <div class="row">
        <%= content_tag 'div', '', class: 'event-background',
                        style: "background-image: url(#{asset_path('event.jpeg')})" %>
        <div class="p-4">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= @event.datetime %></h3>
            <h3><small><%= link_to @event.address,
                                   "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <div class="buffer-top">
            <% if set_current_user_event.present? %>
              <%= link_to 'Изменить', edit_event_path(@event),
                        class: 'btn btn-outline-info' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>