<%= form_for [@event, subscription] do |f| %>
  <% if !user_signed_in? %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :user_email, class: 'form-control' %>
    </div>
  <% elsif !current_user_sub?(@event) %>
  <div class="actions">
    <%= f.submit 'Подписаться', class: 'btn btn-outline-info' %>
  </div>
  <% else %>
    <h5>Вы идете на это событие.</h5>
  <% end %>
<% end %>