<%= t '.title' %>
----

<%= @comment.body %>

<%= t '.author' %>: <%= @comment.user_name %>

--------------------------------
<%= t '.event' %>: <h4><%= link_to @event.title, event_url(@event) %></h4>
<%= t '.datetime' %>: <%= l @event.datetime %>
<%= t '.owner' %>: <%= @event.user.name %>
