Новая фотография
----

Имя: <%= @name %>
Email: <%=  @email %>

----------------------
<%= @photo.photo.url %>

Описание: <%= @photo.discription %>
Событие:  <h4><%= link_to @event.title, "#{root_url}" + "events/#{@event.id}" %></h4>
Состоится: <%= l @event.datetime %>
Организатор: <%= @event.user.name %>