<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>:  <%= @email %>
<hr/>

<div>
  <%= t '.event' %>
  <h4><%= link_to @event.title, event_url(@event) %></h4>
</div>

<div>
  <%= t '.photo' %>
  <p><%= link_to image_tag(@photo.photo.thumb.url), event_url(@event) %></p>
</div>

<div>
  <%= t '.datetime' %>
  <h4><%= l @event.datetime %></h4>
</div>

<div>
  <%= t '.owner' %>
  <h4><%= @event.user.name %></h4>
</div>