Новая подписка
----

Имя: <%= @name %>
Email: <%=  @email %>

----------------------

Событие:  <h4><%= link_to @event.title, "#{root_url}" + "events/#{@event.id}" %></h4>
Состоится: <%= l @event.datetime %>
Организатор: <%= @event.user.name %>