<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>: <%= @email %>
<hr/>

<div>
  <%= t '.event' %>
  <h4><%= link_to @event.title, "#{root_url}" + "events/#{@event.id}" %></h4>
</div>

<div>
  <%= t '.datetime' %>
  <h4><%= l @event.datetime %></h4>
</div>

<div>
  <%= t '.owner' %>
  <h4><%= @event.user.name %></h4>
</div>