Новая подписка
----

Имя: <%= @name %>
Email: <%=  @email %>

----------------------

Событие:  <h4><%= link_to @event.title, event_url(@event) %></h4>
Дата: <%= l @event.datetime %>
Организатор: <%= @event.user.name %>